<div id="magazine">
<% @pages.each do |page| %>
  <div style="background-image:url('<%= page.image.url %>');"></div>
<% end %>
</div>
<script type="text/javascript">
	
	$('#magazine').bind('turned', function(e, page) {

		console.log('Current view: ', $('#magazine').turn('view'));

	})

	$('#magazine').turn({acceleration: true, shadows: true});


</script>
<br />

<%= link_to 'New Page', new_page_path %>


